.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

body{
    background:linear-gradient(20deg, seagreen, rgb(175, 175, 96), aquamarine);
    font-family: 'Google Sans',Roboto, arial,sans-serif;
}

#wrapper{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 21px 21px 27px -12px rgba(250,245,250,1);
    -moz-box-shadow: 21px 21px 27px -12px rgba(250,245,250,1);
    box-shadow: 21px 21px 27px -12px rgba(250,245,250,1);
    border-radius: 15px;
    height: 50vh;
    padding: 20px;
    width: 400px;
    margin-bottom: 225px;
    margin-top: 225px;
}

input{
    width:100%; 
    border: none;
    color:black;   
    padding: 9px;
    margin-bottom: 15px;
    border-bottom:solid 1px;
    font-family: 'Google Sans',Roboto, arial,sans-serif;
}

input::placeholder{
    color: #aaa;
    font-family: 'Google Sans',Roboto, arial,sans-serif;
}

button{
    color: white;
    padding: 9px;
    width: 90%;
    margin-bottom: 15px;
    display: block;
    margin: 0 auto;   
    font-family: 'Google Sans',Roboto, arial,sans-serif; 
    background-color: seagreen;
    border-radius: 15px;
} 

h3{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 21px;
    color: black;
    font-family: 'Google Sans',Roboto, arial,sans-serif;
}
